
section {
    display: block;
}
body {
    line-height: 1;
}

ul {
    list-style: none;
}

.sec-join-hope .change_ul,
.sec-partners .list-partners,
ul.page-numbers {
    list-style: none;
    padding: 0;
    margin: 0;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

h1
{
    position: relative;
    line-height: 1.1rem;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-transform: uppercase;
}
h1 a
 {
    color: #00a7e1
}
p {
    font-size: .95rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem
}
@media screen and (max-width:960px) {
    p {
        font-size: 1rem;
    }
}

ul {
    line-height: 1.5rem;
    margin-bottom: 1.625rem;
    padding-left: 20px
}
li {
    font-size: inherit;
    line-height: 1.5em
}

body {
    background: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #3f3e44;
    padding-top: 60px;
    -webkit-transition: padding-top .2s ease;
    transition: padding-top .2s ease
}

a {
    color: #00a7e1;
    text-decoration: none
}
a:hover {
    color: #0084b2
}

.sec-join-hope {
    position: relative;
    max-width: 63.75rem;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 1.25rem;
    zoom: 1;
    z-index: 10;
    text-align: center
}

.sec-join-hope:after,
.sec-join-hope:before {
    content: "";
    display: table;
}
.sec-join-hope:after {
    clear: both;
}
.sec-join-hope h1 {
    margin-bottom: 10px;
}

.sec-join-hope .change_ul li {
    zoom: 1;
    padding-left: .625rem;
    padding-right: .625rem;
    margin-bottom: 1rem
}

.sec-join-hope article {
    display: inline-block;
    position: relative;
    border-radius: 10rem;
    width: 175px;
    height: 175px
}

.sec-join-hope img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.sec-join-hope .hover {
    display: table-row;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0 30px;
    border-radius: inherit;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}
.sec-join-hope .hover span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 400;
    color: #FFF;
    line-height: 1.3em;
    height: inherit;
    font-size: .9rem
}


.sec-join-hope .change_ul-li:hover  .dark-grey .hover {
    background: #3f3e44
}

.sec-join-hope .change_ul-li:hover  .orange .hover {
    background: #ffc20e
}


/*section1 media queries */

@media screen and (max-width:768px) {
    body {
        padding-top: 0
    }
}

@media screen and (max-width:960px) {
    .sec-join-hope {
        padding: 5rem 5%;
    }
}
@media screen and (max-width:1280px) {
    .sec-join-hope {
        padding: 7.5rem .625rem;
    }
}

@media screen and (min-width: 960px) {
    .sec-join-hope h1 {
        margin-bottom: 70px;
       line-height: 2rem;
       
    }
}
@media screen and (max-width:768px) {
    .sec-join-hope h1 span {
        display: block;
        line-height: 2rem;
        letter-spacing: .1rem;
    }
}

@media screen and (min-width:480px) {
    .sec-join-hope .change_ul li {
        width: 50%;
        float: left;
        margin-bottom: 2em
    }
}
@media screen and (min-width:960px) {
    .sec-join-hope .change_ul li {
        width: 25%;
        margin-bottom: 0
    }

}

@media screen and (min-width: 768px) {
    .sec-join-hope article {
        width: 215px;
        height: 215px
    }
}

@media screen and (max-width:768px) {
    .sec-join-hope img {
        width: 175px;
        height: 175px
    }
}
@media screen and (min-width:768px) {
    .sec-join-hope img {
        width: 215px;
        height: 215px
    }
}
@media screen and (max-width:480px) {
    .sec-join-hope img {
        width: 100px;
        height: 100px;
        right: auto;
        z-index: 4
    }
}


@media screen and (min-width: 768px) {
    .sec-join-hope .hover span {
        font-size: 1em
    }
}
@media screen and (max-width: 480px) {
    .sec-join-hope article {
        width: 100%;
        height: 100px;
        padding-left: 50px
    }
    .sec-join-hope .hover {
        display: block;
        position: relative;
        z-index: 0;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        background: #3f3e44!important;
        border-radius: 0;
        padding-left: 60px;
        border-top-right-radius: 10em;
        border-bottom-right-radius: 10em
    }
    .sec-join-hope .hover span {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
    }
}

@media screen and (min-width:480px) {
    .sec-join-hope .change_ul-li:hover .hover {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05)
    }
}

/*patners section */


.sec-partners {
    max-width: 63.75rem;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 1.25rem;
    position: relative;
    text-align: center;
}

.sec-partners h1 {
    margin-bottom: 40px
}



.sec-partners .heading-photo,
.sec-partners .list-partners {
    padding-left: .625rem;
    padding-right: .625rem;
    width: 100%;
    text-align: center
}
.sec-partners .heading-photo img,
.sec-partners .list-partners img {
    display: inline-block;
    width: 100%;
    max-width: 150px
}
.sec-partners .heading-photo img {
    max-width: 250px;
    width: 100%
}

.sec-partners .list-partners li {
    width: 50%;
    float: left;
    text-align: center;
    padding: .8rem .3125rem
}

@media screen and (min-width: 768px) {
    .sec-partners {
        padding: 5em 5%;
    }
}
@media screen and (min-width: 960px) {
    .sec-partners {
        padding: 7.5rem .625rem;
    }
}

@media screen and (min-width: 768px) {
    .sec-partners h1 {
        margin-bottom: 70px;
        line-height: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .sec-partners .heading-photo {
        width: 33.3333%;
        float: left;
    }
    .sec-partners .heading-photo img {
        padding-top: 4.8em;
    }
}
@media screen and (min-width:960px) {
    .sec-partners .heading-photo img {
        padding-top: 0;
    }
}
@media screen and (min-width:768px) {
    .sec-partners .list-partners {
        width: 66.6666%;
        float: right;
    }
}
@media screen and (max-width: 480px) {
    .sec-partners .list-partners {
        margin-bottom: 1.625rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .sec-partners h1 {
        line-height: 2rem;
    }
}

@media screen and (min-width: 960px) {
    .sec-partners .list-partners li {
        width: 33.3333%
    }
}