.sec-partners,.list-partners, .sec-get-involved ul  {
     
        list-style: none;
        padding: 0;
        margin: 0
    }

    .sec-partners,.sec-get-involved,.sec-hope-carousel  h1{
        font-size: 16px;
        letter-spacing: 2px;
    }

    .sec-get-involved   {
        position: relative;
        max-width: 63.75em;
        width: 100%;
        margin: 0 auto;
        zoom: 1;
        z-index: 10;
        text-align: center;
    }



    @media screen and (min-width: 60em) {
    .sec-hope-carousel h1 b,
    .sec-hope-carousel h1 span,
    .sec-get-involved h1 b,
    .sec-get-involved h1 span,
    .sec-partners,
    {
        font-weight: 100;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
    }

}

    @media screen and (min-width: 48em) {
        .sec-get-involved {
            padding: 5em 5%
        }
    }
    @media screen and (min-width: 60em) {
        .sec-get-involved {
            padding: 7.5em .625em
        }
    }
    .sec-get-involved:after,
    .sec-get-involved:before {
        content: "";
        display: table
    }
    .sec-get-involved:after {
        clear: both
    }
    .sec-get-involved h1 {
        margin-bottom: 40px
    }
    @media screen and (min-width: 48em) {
        .sec-get-involved h1 {
            margin-bottom: 70px
        }
    }
    @media screen and (max-width: 47.9375em) {
        .sec-get-involved h1 span {
            display: block
        }
    }
    .sec-get-involved .change-ul li {
        zoom: 1;
        padding-left: .625em;
        padding-right: .625em;
        margin-bottom: 1em
    }
    .sec-get-involved .change-ul li:after,
    .sec-get-involved .change-ul li:before {
        content: "";
        display: table
    }
    .sec-get-involved .change-ul li:after {
        clear: both
    }
    @media screen and (min-width: 30em) {
        .sec-get-involved .change-ul li {
            width: 50%;
            float: left;
            margin-bottom: 2em
        }
        .sec-get-involved .change-ul li:nth-child(odd) article {
            float: right
        }
        .sec-get-involved .change-ul li:nth-child(even) article {
            float: left
        }
    }
    @media screen and (min-width: 60em) {
        .sec-get-involved .change-ul li {
            width: 25%;
            margin-bottom: 0
        }
        .sec-get-involved .change-ul li:nth-child(odd) article {
            float: none
        }
        .sec-get-involved .change-ul li:nth-child(even) article {
            float: none
        }
    }
    .sec-get-involved article {
        display: inline-block;
        position: relative;
        border-radius: 10em;
        width: 175px;
        height: 175px
    }
    @media screen and (min-width: 48em) {
        .sec-get-involved article {
            width: 215px;
            height: 215px
        }
    }
    .sec-get-involved img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0
    }
    @media screen and (min-width: 30em) {
        .sec-get-involved img {
            width: 175px;
            height: 175px
        }
    }
    @media screen and (min-width: 48em) {
        .sec-get-involved img {
            width: 215px;
            height: 215px
        }
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved img {
            width: 100px;
            height: 100px;
            right: auto;
            z-index: 4
        }
    }
    .sec-get-involved .hover {
        display: table-row;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        margin: 0;
        padding: 0 30px;
        border-radius: inherit;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        -webkit-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out
    }
    .sec-get-involved .hover span {
        display: table-cell;
        vertical-align: middle;
        font-family: "Averia Serif Libre", serif;
        font-weight: 400;
        color: #FFF;
        line-height: 1.3em;
        height: inherit;
        font-size: .8em
    }
    @media screen and (min-width: 48em) {
        .sec-get-involved .hover span {
            font-size: 1em
        }
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved article {
            width: 100%;
            height: 100px;
            padding-left: 50px
        }
        .sec-get-involved article.blue-light .circle {
            background: #00a7e1
        }
        .sec-get-involved article.blue-dark .circle {
            background: #0084b2
        }
        .sec-get-involved article.orange .circle {
            background: #f39923
        }
        .sec-get-involved article.gold .circle {
            background: #ffc20e
        }
        .sec-get-involved article.ash .circle {
            background: #8e8a7f
        }
        .sec-get-involved article.black .circle {
            background: #3f3e44
        }
        .sec-get-involved article.green .circle {
            background: #a2cc39
        }
        .sec-get-involved article.pink .circle {
            background: #ed406b
        }
        .sec-get-involved .hover {
            display: block;
            position: relative;
            z-index: 0;
            -webkit-opacity: 1;
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
            background: #3f3e44!important;
            border-radius: 0;
            padding-left: 60px;
            border-top-right-radius: 10em;
            border-bottom-right-radius: 10em
        }
        .sec-get-involved .hover span {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
        }
    }
    .sec-get-involved .change-li:hover .hover.blue-light {
        background: #00a7e1
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved .change-li:hover .hover.blue-light {
            background: 0 0
        }
    }
    .sec-get-involved .change-li:hover .hover.blue-dark {
        background: #0084b2
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved .change-li:hover .hover.blue-dark {
            background: 0 0
        }
    }
    .sec-get-involved .change-li:hover .hover.orange {
        background: #f39923
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved .change-li:hover .hover.orange {
            background: 0 0
        }
    }
    .sec-get-involved .change-li:hover .hover.gold {
        background: #ffc20e
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved .change-li:hover .hover.gold {
            background: 0 0
        }
    }
    .sec-get-involved .change-li:hover .hover.ash {
        background: #8e8a7f
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved .change-li:hover .hover.ash {
            background: 0 0
        }
    }
    .sec-get-involved .change-li:hover .hover.black {
        background: #3f3e44
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved .change-li:hover .hover.black {
            background: 0 0
        }
    }
    .sec-get-involved .change-li:hover .hover.green {
        background: #a2cc39
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved .change-li:hover .hover.green {
            background: 0 0
        }
    }
    .sec-get-involved .change-li:hover .hover.pink {
        background: #ed406b
    }
    @media screen and (max-width: 29.9375em) {
        .sec-get-involved .change-li:hover .hover.pink {
            background: 0 0
        }
    }
    @media screen and (min-width: 30em) {
        .sec-get-involved .change-li:hover .hover {
            -webkit-opacity: 1;
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
            transform: scale(1.05);
            -ms-transform: scale(1.05);
            -webkit-transform: scale(1.05)
        }
    }


    .change-li:hover .hover {
        background: transparent url(assets/images/sprite-circles-legacy.png)!important;
        width: 215px;
        height: 215px;
        overflow: hidden
    }
    .change-li:hover .hover.blue-light {
        background-position: 0 0
    }
    .change-li:hover .hover.blue-dark {
        background-position: 0 -215px
    }
    .change-li:hover .hover.orange {
        background-position: 0 -430px
    }
    .change-li:hover .hover.gold {
        background-position: 0 -645px
    }
    .change-li:hover .hover.ash {
        background-position: 0 -860px
    }
    .change-li:hover .hover.black {
        background-position: 0 -1075px
    }
    .change-li:hover .hover.green {
        background-position: 0 -1290px
    }
    .change-li:hover .hover.pink {
        background-position: 0 -1505px
    }


    .sec-partners {
        max-width: 63.75em;
        width: 100%;
        margin: 0 auto;
        padding: 2.5em 1.25em;
        position: relative;
        text-align: center
    }
    @media screen and (min-width: 48em) {
        .sec-partners {
            padding: 5em 5%
        }
    }
    @media screen and (min-width: 60em) {
        .sec-partners {
            padding: 7.5em .625em
        }
    }
    .sec-partners h1 {
        margin-bottom: 40px
    }
    @media screen and (min-width: 48em) {
        .sec-partners h1 {
            margin-bottom: 70px
        }
    }
    .sec-partners .wrap-partners {
        zoom: 1
    }
    .sec-partners .wrap-partners:after,
    .sec-partners .wrap-partners:before {
        content: "";
        display: table
    }
    .sec-partners .wrap-partners:after {
        clear: both
    }
    .sec-partners .heading-photo,
    .sec-partners .list-partners {
        padding-left: .625em;
        padding-right: .625em;
        width: 100%;
        text-align: center
    }
    .sec-partners .heading-photo img,
    .sec-partners .list-partners img {
        display: inline-block;
        width: 100%;
        max-width: 150px
    }
    .sec-partners .heading-photo img {
        max-width: 250px;
        width: 100%
    }
    @media screen and (min-width: 48em) {
        .sec-partners .heading-photo {
            width: 33.3333%;
            float: left
        }
        .sec-partners .heading-photo img {
            padding-top: 4.8em
        }
    }
    @media screen and (min-width: 60em) {
        .sec-partners .heading-photo img {
            padding-top: 0
        }
    }
    .sec-partners .list-partners {
        zoom: 1
    }
    .sec-partners .list-partners:after,
    .sec-partners .list-partners:before {
        content: "";
        display: table
    }
    .sec-partners .list-partners:after {
        clear: both
    }
    @media screen and (min-width: 48em) {
        .sec-partners .list-partners {
            width: 66.6666%;
            float: right
        }
    }
    @media screen and (max-width: 29.9375em) {
        .sec-partners .list-partners {
            margin-bottom: 1.625em
        }
    }
    .sec-partners .list-partners li {
        width: 50%;
        float: left;
        text-align: center;
        padding: .8em .3125em
    }
    @media screen and (min-width: 60em) {
        .sec-partners .list-partners li {
            width: 33.3333%
        }
    }
    @media screen and (max-width: 29.9375em) {
        .sec-partners .list-partners li:nth-child(odd) {
            padding-right: 10px
        }
        .sec-partners .list-partners li:nth-child(even) {
            padding-left: 10px
        }
    }

    .sec-hope-carousel .follow-hope a span,
.twenty-hope .follow-hope a span {
    color: #3f3e44
}
.sec-hope-carousel .follow-hope a:after,
.twenty-hope .follow-hope a:after {
    content: " // "
}
.sec-hope-carousel .follow-hope a:hover span,
.twenty-hope .follow-hope a:hover span {
    color: #00a7e1
}
.sec-hope-carousel .follow-hope a:last-of-type:after,
.twenty-hope .follow-hope a:last-of-type:after {
    display: none
}

.sec-hope-carousel {
    background-color: #a77d54;
    position: relative;
    padding: 40px 0
}
@media screen and (min-width: 30em) {
    .sec-hope-carousel {
        background: url(assets/images/layout/bg-hope-pattern.jpg) repeat
    }
}
.sec-hope-carousel .hope-logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: -7%;
    height: 114%;
    width: 100%;
    z-index: 1
}
@media screen and (min-width: 78.125em) {
    .sec-hope-carousel .hope-logo {
        background-size: contain
    }
}
@media screen and (max-width: 29.9375em) {
    .sec-hope-carousel .hope-logo {
        display: none
    }
}
.sec-hope-carousel h1 {
    margin-bottom: 30px;
    text-align: center;
    padding: 0 40px;
    color: #FFF
}
@media screen and (min-width: 48em) {
    .sec-hope-carousel h1 {
        padding: 0 20px;
        color: #3f3e44;
        margin-bottom: 40px
    }
}
.sec-hope-carousel section {
    position: relative;
    zoom: 1;
    width: 100%;
    overflow: hidden;
    z-index: 5
}
.sec-hope-carousel section:after,
.sec-hope-carousel section:before {
    content: "";
    display: table
}
.sec-hope-carousel section:after {
    clear: both
}
.sec-hope-carousel section .overflow {
    width: 30000px;
    height: 320px;
    position: relative
}
@media screen and (min-width: 48em) {
    .sec-hope-carousel section .overflow {
        height: 400px
    }
}
.sec-hope-carousel section .inner-wrapper {
    position: absolute;
    top: 0;
    left: 0
}
.sec-hope-carousel section article {
    position: relative;
    float: left;
    width: 250px;
    height: 320px;
    margin: 0 10px
}
@media screen and (min-width: 48em) {
    .sec-hope-carousel section article {
        width: 320px;
        height: 400px
    }
}
.sec-hope-carousel section article .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out
}
.sec-hope-carousel .cat-item article {
    -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, .3);
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .3)
}
.sec-hope-carousel .cat-item article h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 5;
    color: #FFF;
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    text-transform: none;
    text-shadow: 1px 1px 4px #000;
    -webkit-transition: text-shadow 350ms ease-in-out;
    transition: text-shadow 350ms ease-in-out
}
.sec-hope-carousel .cat-item article h3 span {
    display: block;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    padding-top: 2px
}
.sec-hope-carousel article.item-social {
    height: auto;
    -webkit-box-shadow: 0 5px 0 0 rgba(0, 0, 0, .3);
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .3)
}
.sec-hope-carousel article.item-twitter {
    padding-top: 4em
}
@media screen and (min-width: 48em) {
    .sec-hope-carousel article.item-twitter {
        padding-top: 7em
    }
}
.sec-hope-carousel article.item-instagram {
    padding-top: 20px
}
@media screen and (min-width: 60em) {
    .sec-hope-carousel .cat-item:hover h3 {
        text-shadow: 1px 1px 5px #555454;
        text-shadow: 1px 1px 5px rgba(85, 84, 84, .4)
    }
    .sec-hope-carousel .cat-item:hover .overlay {
        background-color: transparent;
        background-color: rgba(221, 177, 10, .95);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#F2DDB10A, endColorstr=#F2DDB10A);
        zoom: 1
    }
    .sec-hope-carousel .cat-item.all:hover .overlay {
        background-color: transparent;
        background-color: rgba(221, 177, 10, .5);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#80DDB10A, endColorstr=#80DDB10A);
        zoom: 1
    }
}
.sec-hope-carousel .hope-footer {
    zoom: 1;
    max-width: 63.75em;
    width: 100%;
    margin: 0 auto;
    padding-left: .625em;
    padding-right: .625em;
    margin-top: 2em
}
.sec-hope-carousel .hope-footer:after,
.sec-hope-carousel .hope-footer:before {
    content: "";
    display: table
}
.sec-hope-carousel .hope-footer:after {
    clear: both
}
@media screen and (min-width: 48em) {
    .sec-hope-carousel .hope-footer {
        margin-top: 4em;
        padding-left: 5%;
        padding-right: 5%
    }
}
@media screen and (min-width: 60em) {
    .sec-hope-carousel .hope-footer {
        padding-left: .625em;
        padding-right: .625em
    }
}
@media screen and (max-width: 47.9375em) {
    .sec-hope-carousel .hope-footer {
        text-align: center
    }
}
.sec-hope-carousel .follow-hope a:hover span {
    color: #ddb10a
}
@media screen and (min-width: 48em) {
    .sec-hope-carousel .follow-hope {
        float: left
    }
}
.sec-hope-carousel .hope-nav {
    margin-bottom: 1.5em
}
@media screen and (min-width: 48em) {
    .sec-hope-carousel .hope-nav {
        float: right;
        margin-bottom: 0
    }
}
.sec-hope-carousel .hope-nav button {
    outline: 0;
    border: 0;
    background-color: #3f3e44;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 5em;
    padding: 0;
    margin: 0;
    line-height: 26px;
    color: #FFF;
    cursor: pointer
}
.sec-hope-carousel .hope-nav button span {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block
}
.sec-hope-carousel .hope-nav button:hover {
    background-color: #00a7e1
}
.sec-hope-carousel .hope-nav button.disabled {
    -webkit-opacity: .5;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    cursor: not-allowed
}
.sec-hope-carousel .hope-nav button.disabled:hover {
    background-color: #3f3e44
}
.sec-hope-carousel .hope-nav .roll-left:before {
    font-family: coh-icon!important;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    width: 1em;
    margin: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    content: '\e800';
    position: relative;
    left: 1px
}
.sec-hope-carousel .hope-nav .roll-close {
    margin-right: 10px
}
.sec-hope-carousel .hope-nav .roll-close:before {
    font-family: coh-icon!important;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    width: 1em;
    margin: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    content: '\e824';
    position: relative;
    left: 0;
    top: 3px;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
}
.sec-hope-carousel .hope-nav .roll-right {
    margin-right: 10px
}
.sec-hope-carousel .hope-nav .roll-right:before {
    font-family: coh-icon!important;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    width: 1em;
    margin: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    content: '\e801';
    position: relative;
    right: 1px
}
@media screen and (min-width: 48em) {
    body.home .sec-hope-carousel {
        padding-top: 80px
    }
}
.blog-carousel {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    display: none;
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, .3);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .3)
}
@media screen and (min-width: 48em) {
    .blog-carousel {
        margin-top: -20px
    }
}
.blog-carousel .sec-hope-carousel {
    padding: 20px 0 0;
    border-top: 1px solid rgba(0, 0, 0, .07)
}
@media screen and (min-width: 48em) {
    .blog-carousel .sec-hope-carousel {
        padding: 20px 0
    }
}
@media screen and (min-width: 48em) {
    .blog-carousel .sec-hope-carousel {
        border-top-width: 0
    }
}
.blog-carousel .sec-hope-carousel .hope-footer {
    margin-top: 2em
}
@media screen and (min-width: 48em) {
    .blog-carousel .sec-hope-carousel .hope-nav {
        padding-right: 10px
    }
}
@media screen and (max-width: 59.9375em) {
    .blog-carousel .sec-hope-carousel .hope-nav button {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 17px
    }
    .blog-carousel .sec-hope-carousel .hope-nav button.roll-close:before {
        font-size: 26px
    }
    .blog-carousel .sec-hope-carousel .hope-nav button.roll-close,
    .blog-carousel .sec-hope-carousel .hope-nav button.roll-right {
        margin-right: 15px
    }
}

.sec-hope-carousel section article,
 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-color: rgba(63, 62, 68, .2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#333F3E44, endColorstr=#333F3E44);
    zoom: 1
}

@media screen and (min-width: 60em) {
    [class*=features-item-] .overlay:hover {
        background-color: transparent;
        background-color: rgba(63, 62, 68, .75);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#BF3F3E44, endColorstr=#BF3F3E44);
        zoom: 1
    }
}

.sbar-block-instagram h3 a:before {
    font-family: coh-icon!important;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    width: 1em;
    margin: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    content: '\e811'
}

.sbar-block-instagram .date {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    float: right;
    line-height: 26px;
    height: 26px
}
.sbar-block-instagram h3 {
    float: left
}
.sbar-block-instagram .instalink {
    display: block
}