* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

/*
* =====================================================
*     Header
* =====================================================
*/

.header {
	height: 100vh;
	background-color: #efd1a5;
	background: url(../img/bg-feature-scenarios-guatemala.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 70px;
}

.header-content {
	padding-top: 230px;
	text-align: center;
}

.header-content h1 {
	color: #fff;
	font-size: 70px;
	font-weight: 800;
	margin-top: 20px;
	margin-bottom: 50px;
}

.header-content .btn-learn {
	padding: 15px 40px;
	font-size: 23px;
}

/*
* =====================================================
*     Section About
* =====================================================
*/

.section-about {
	text-align: center;
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}

.temporary-wrapper {
	width: 600px;
	
}

.about-logo {
	width: 500px;
	margin-bottom: 40px;
}

.about-text {
	margin-bottom: 40px;
    font-size: 1.5em
}

.btn-learn {
	padding: 6px 12px; 
	background-color: #00A7E1;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 800;
}

.btn-learn:hover, .btn-learn:focus, .btn-learn.active {
  color: #fff;
  text-decoration: none;
}

/*
* =====================================================
*     Footer
* =====================================================
*/

.main-footer {
	background: url(../img/footer-truck.jpg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.footer-block {
	width: 1020px;
}

.footer-copyright {
	height: 44px;
	line-height: 44px;
	font-size: 11px;
	color: #3F3E44;
	background-color: #fff;
	text-align: center;
}

.footer-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}

.footer-list-block {
	padding-top: 75px;
}

.footer-list-item {
	color: #fff;
	font-size: 13px;
	margin-bottom: 8px;
}

.footer-list-item a {
	color: #fff;
	text-decoration: none;
}

.footer-list-item-bold {
	font-size: 16px;
	font-weight: 800;
}

.footer-partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 120px;
	margin-bottom: 50px;
}

.footer-social-icon {
	width: 25px;
	height: 25px;
	margin-right: 9px;
	margin-bottom: 12px;
}

.footer-hope-text {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 9px;
	margin-top: 35px;
}

